<div class="row">
    <div class="col-12">
        <form
            [formGroup] ="signForm"
            (ngSubmit)="onSubmit()">
            <div class="form-group">
                
                <label for="name">{{'shopping-edit.name' | translate}}</label>
                <input
                    id="name"
                    class="form-control"
                    type="text"
                    formControlName="name"> 
            
                <label for="name">{{'shopping-edit.amount' | translate}}</label>
                <input
                    id="amount"
                    class="form-control"
                    type="number"
                    formControlName="amount"
                    pattern="^[0-9]+[1-9]*$">
            </div>
            <div class="button-groups mb-3">
                <button type="button" (click)="onSubmit()" class="btn btn-success mr-2">{{ !isEditing ? ('shopping-edit.save' | translate) : ('shopping-edit.edit' | translate) }}</button>
                <button 
                    *ngIf="isEditing"
                    type="button" (click)="onDelete()" class="btn btn-danger mr-2">{{'shopping-edit.delete' | translate}}
                </button>
                <button type="button" (click)="onCancel()" class="btn btn-warning mr-2">{{'shopping-edit.cancel' | translate}}</button>
            </div>
        </form>

    </div>
</div>