<div class="row">
    <div >
        <button 
            routerLink="/recipes/save"
            class="btn btn-primary" 
            style="margin: 50px 0 50px 30px;"
            >New Recipe
        </button>
    </div>
    <a 
        
        [routerLink]="['/recipes', i]"
        *ngFor="let recipe of recipes, let i = index"
        (click)="recipeSelected()"
        routerLinkActive="active"
        class="list-group-item clearfix ">
            <div class="row">
                <div class="col-8">
                    <h4 class="list-group-item-heading">{{recipe.name}}</h4>
                    <p class="list-group-item-text">{{recipe.description}}</p>
                </div>
                <div class="col-4">
                    <span class="pull-right">
                            <img 
                                [src]="recipe.imagePath" 
                                alt="{{recipe.name}}"
                                class="img-responsive"
                                style="width: 50% ;cursor: pointer;">
                    </span>
                </div>
            </div>
    </a>
</div>