<a
    [routerLink]="['/recipes/', recipeIndex]"
    (click)="recipeSelected()"
    routerLinkActive="active"
    class="list-group-item clearfix mb-2"
    style="cursor: pointer;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="list-group-item-heading">{{recipe?.name | shorten:25}}</h4>
                <div class="image-wrapper float-right pr-3">
                    <img 
                        src="{{recipe.imagePath ? recipe.imagePath : '../../../../../assets/empty-food.png'}}"
                        class="img-responsive pl-2"
                        style="max-height: 80px;"
                        alt="{{recipe?.name}}">
                </div>
                <div class="single-post-content-wrapper ">
                    <p class="list-group-item-text">{{recipe.description | shorten:200}}</p>
                </div>
            </div>
        </div>
    </div>
</a>
