 <div class="row">
    <div class="col-md-6">
        <button 
            routerLink="/recipes/save"
            class="btn btn-primary my-5 ml-3" 
            (click)="addNewecipe()"
            >New Recipe
        </button>
    <div >
        <app-recipe-list ></app-recipe-list>
    </div>
    </div>
    <div class="col-md-6">
        <div  class="text-center my-5 ml-3" *ngIf="!isRecipeSelected">
            <h3>Select a Recipe!</h3>
        </div>
        <router-outlet></router-outlet>
    </div>
 </div>

