 <div class="row">
    <div class="col-md-6">
        <div class="my-4 ml-3">
            <button 
                routerLink="/recipes/save"
                class="btn btn-primary" 
                (click)="selected()"
                >{{'recipes-home.new-recipe' | translate}}
            </button>
        </div>
        <hr/>
        <div >
            <app-recipe-list></app-recipe-list>
        </div>
    </div>
    <div class="col-md-6">
        <div class="my-4 ml-3">
            <div  class="text-center" *ngIf="isRecipeSelected"> 
                <h3>{{title}}</h3>
            </div>
        </div>
        <hr/>
        <router-outlet></router-outlet> 
    </div>
 </div>
